@model List<Postagem>
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Blog</h1>
    <p>Confira aqui as últimas notícias e novidades do mundo</p>
</div>

@foreach (Postagem postagem in Model)
{
    <p>@postagem.Nome</p>
    <img src="@postagem.Foto" width="380" />
}